.first {
  color: rgba(255, 0, 0, 1);
  background: yellow;
}
.second {
  color: rgb(0, 0, 255);
  background: green;
}
div h3 {
  color: blueviolet;
}
.third {
  color: black;
  background: aqua;
}
.jij {
  font-size: 25px;
}
p {
  color: black;
}
span {
  color: orange;
}
