* {
  margin: 0;
}
#lob {
  height: 7rem;
  background: white;
}
.title {
  font-size: 25px;
  color: aqua;
}
.hero {
  min-height: calc(100vh - 7rem);
  background: black;
  color: aliceblue;
}
.vibor {
  font-size: 25px;
  color: aqua;
}
.hero-btn {
  color: white;
  background-color: aqua;
}
