.outer {
  background-color: blueviolet;
  width: 500px;
  height: 500px;
  font-size: 50px;
}
.inner {
  background-color: aqua;
  width: 50%;
  height: 50%;
  font-size: 2rem;
}
.in {
  font-size: 60px;
}

.at {
  font-size: 2em;
}
.ot {
  font-size: 2rem;
}
.kip {
  font-size: 80px;
}
.screen {
  background-color: blue;
  width: 100vw;
  height: 100vh;
}
.kipr {
  width: 52vw;
  height: 34vh;
  background-color: brown;
}
h1 {
  color: blue;
  font-size: 50px;
}
.jaba {
  color: brown;
  background-color: blue;
  width: 200px;
  height: 200px;
  font-size: 50px;
}
.jop {
  background-color: goldenrod;
  width: 250px;
  min-height: calc(100vh - 2000px);
  max-height: 100vh;
  overflow: hidden;
  overflow: scroll;
}
.kkkkl {
  background-color: brown;
  width: 300px;
  height: 300px;
  overflow: hidden;
  overflow: scroll;
}
